/* UNIVERSALS */
:root {
    --bg-color: #1E1E1E;
    --text-color: #EFEFEF;
    --accent-red: #C94C4C;
    --hover-red: #A93226;
    --graphite-slate: #292929;
    --divider-light: #B0B0B0;
    --button-bg: #FFFFFF;
    --button-text: #C94C4C;
    --button-hover-bg: #C94C4C;
    --button-hover-text: #FFFFFF;
    --header-color: #FF6B6B;
    --contact-bg: #2A2A2A;

}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    /* height: 500vw; */
    background: linear-gradient(to bottom, var(--graphite-slate) 20%, var(--bg-color) 100%);
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 100px;
}

